:root {
  --raleway: "Raleway", sans-serif;
}

body {
  padding: 0;
  box-sizing: border-box;
}

.title-card {
  width: 100%;
}

span {
  font-weight: bold;
  color: #ffb6ad;
  font-family: var(--raleway);
}

img {
  width: 100%;
}

.site-title {
  font-family: var(--raleway);
  line-height: 2;
}

.paragraph-text {
  font-family: var(--raleway);
  line-height: 2;
}

/* Lofi wireframes section */
.zoom:hover {
  transform: scale(2.2);
}

.mockup {
  width: 33%;
}

ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: #ffb6ad;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
