:root {
    --raleway: "Raleway", sans-serif;
  }
  
  body {
    padding: 0;
    box-sizing: border-box;
  }

  span {
    font-weight: bold;
    color: #ffb6ad;
    font-family: var(--raleway); 
  }
 /* .container {
      width: 100%;
      height: 120px;
  }

  .container img {
      width: auto;
      height: 120px;
  }
  