:root {
    --raleway: "Raleway", sans-serif;
  }
  
  body {
    padding: 0;
    box-sizing: border-box;
  }

  .container {
      width: 200px;
      height: 120px;
  }

  .container img {
      width: auto;
      height: 120px;
  }
  