:root {
    --raleway: "Raleway", sans-serif;
  }
  
  body {
    padding: 0;
    box-sizing: border-box;
  }

  span {
    font-weight: bold;
    color: #ffb6ad;
    font-family: var(--raleway); 
  }

  /* .scaled {
      -ms-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -o-transform: scale(0.5);
      -moz-transform: scale(0.5);
      transform: scale(0.5);
  } */