/* Global styles */

/* End Global Styles */

/* css variables */
:root {
  --accent-color: #ffb6ad;
  --primary-color: #71697a;
  --accent-color2: #9ad5c8;
  --text-color: #001b2eff;
  --gradient-color: linear-gradient(90deg, #71697aff, #ffb6adff);
  --gradient-color2: linear-gradient(90deg, #9ad5c8ff, #ffb6adff);

  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  /* font family variables */
  --roboto: "Roboto", sans-serif;
  --accent-font: "Aguafina Script", cursive;
  --raleway: "Raleway", sans-serif;
}

/* start navigation */

/* end navigation */

/* Banner area */
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h1 {
  font-size: 3em;
  font-family: var(--accent-font);
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .site-title h3,
h1,
h4 {
  color: var(--primary-color);
}

.site-main .site-banner .site-title h3::after {
  /* content: ""; */
  height: 2px;
  width: 18vw;
  background: var(--primary-color);
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .banner-image > img {
  padding: 5em 0;
  width: 20rem;
}

.title-text {
  line-height: 1.5;
}

/* end banner area */

/* Start about area */
.site-main .about-title {
  padding: 2rem 4rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  letter-spacing: 21px;
  font-weight: bold;
  color: var(--primary-color);
  font-family: var(--raleway);
}

.site-main .about-area .about-title > p {
  padding: 0.4rem;
  font-family: var(--raleway);
}
/* end about area */

/* Brand Area */
.site-main .brand-area {
  width: 100%;
  margin-bottom: 4rem;
}

.site-main .brand-area {
  display: flex;
}
.site-main .brand-area .container .col-sm-2 > .single-brand {
  text-align: center;
}
/* .site-main .brand-area .container-fluid .container .col-sm-2 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
} */

/* end Brand Area */

/* Project Area */
.site-main .project-area .container-fluid .col-sm-4 > .card:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  color: var(--accent-color2);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .card-buttons a {
  width: 55%;
  flex-direction: row;
}

.site-main .project-area .card-img-top {
  flex-grow: 1;
  object-fit: contain;
}


button:focus,
button:active,
button :hover .btn:active,
.btn .active {
  outline: 0px !important;
  box-shadow: none;
}

/* End project area */

/* footer area */
.attribution {
  font-size: 11px;
  text-align: center;
}
